#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Icon=//home/jovyan/Apps/icons/hicolor/48x48/apps/NEURAL.png
Name=Neural
Exec=wine /home/jovyan/Apps/Neural/neural.exe
Comment=Neural launcher